#home {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#home h2,
#home h3,
#home h4 {
  margin: 0;
  line-height: 2em;
}

#home #center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  order: 1;
  width: 100%;
  margin-bottom: 2em;
}
#home #center > #center-top {
  font-size: calc(10px + 2vmin);
  order: 2;
}
#home #center > #center-bottom {
  order: 1;
  margin-top: 25px;
  margin-bottom: 10vh;
}
#home #left {
  order: 2;
}
#home #right {
  order: 3;
}

#home #left div.animated-link::after {
  transform-origin: left;
}
#home #right div.animated-link::after {
  transform-origin: right;
}

#home #avatar {
  margin-bottom: 1em;
}
#avatar #Eyes\/Default #Eye {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media only screen and (min-width: 1200px) {
  #home {
    min-height: 100vh;
    flex-wrap: nowrap;
    justify-content: center;
  }

  #home #center {
    order: 2;
    width: unset;
    margin-bottom: unset;
  }
  #home #center > #center-top {
    order: 1;
    margin-bottom: 2em;
  }
  #home #center > #center-bottom {
    order: 2;
    margin-bottom: unset;
  }

  #home #left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    min-height: 80vh;
    padding: 1em;
    order: 1;
  }
  #home #right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    min-height: 80vh;
    padding: 1em;
    order: 3;
  }
}

@media (prefers-color-scheme: dark) {
  #home #center > #center-bottom > a.social-btns {
    color: whitesmoke;
  }
}
